/* App.css */

:root {
  /* Primary Colors */
  --primary-bg: #0f1114;
  --secondary-bg: #1f2329;

  /* Text Colors */
  --primary-text: #f5f5f5;
  --secondary-text: #bbb;
  --highlight-text: #007bff;

  /* Other UI Colors */
  --ui-hover: #555;
  --ui-shadow: rgba(0, 0, 0, 0.1);
  --ui-disabled: #333;
  --ui-border: #007bff;
  --ui-bg-hover: #007bff;
  --ui-button-active: #f50057;
}

.index-page {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}

.video-item {
  background-color: var(--secondary-bg);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
}

.video-item:hover {
  transform: scale(1.05);
}

.video-link {
  display: block;
  text-decoration: none;
  color: #f5f5f5;
}

.video-thumbnail {
  height: 200px;
  overflow: hidden;
}

.video-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
  transition: transform 0.3s ease-in-out;
}

.video-item:hover .video-thumbnail img {
  transform: scale(1.1);
}

.video-name {
  text-align: center;
  padding: 10px;
  font-weight: 500;
  color: #bbb;
}

.title {
  font-size: 28px;
  color: #f5f5f5;
  margin-bottom: 20px;
}

.title {
  font-size: 28px;
  color: #f5f5f5;
  margin-bottom: 20px;
}

body {
  background-color: var(--primary-bg);
  color: #f5f5f5;
}

.viewer-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  width: calc(100% - 350px);
}

#video-page {
  background-color: var(--primary-bg);
  align-items: flex-start;
  display: flex;
  width: 100vw;
  height: 100vh;
}
#frame-viewer {
  align-items: flex-start;
  display: flex;
}

.sidebar {
  height: 100%;
  overflow-y: auto;
}

.left-sidebar {
  background-color: var(--primary-bg);
  flex: 1;
  max-width: 80px;
}
.right-sidebar {
  overflow: visible;
  background-color: var(--secondary-bg);
  flex: 2;
  max-width: 350px;
}

.frame-count-controls button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.frame-button svg {
  width: 40px;
  height: 40px;
}

.frame-count-controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-count-controls h3 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.frame-container {
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

h2,
h3 {
  color: #f5f5f5;
}

.videoFrame {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#frame-slider {
  width: 80%;
  position: relative;
  padding-bottom: 0px;
}

h2 {
  font-size: 24px;
  color: #f5f5f5;
}

h3 {
  font-size: 18px;
  color: #555;
  margin-top: 10px;
  padding: 8px 10px;
}

button {
  padding: 8px 12px;
  border: none;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #252525;
  border: 1px solid #007bff;
  color: #007bff;
  font-weight: 500;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #007bff;
  color: #f5f5f5;
}

button:disabled,
button:disabled:hover {
  background-color: #333;
  color: #888;
  border: 1px solid #888;
  cursor: not-allowed;
}

input[type="checkbox"] {
  margin-right: 5px;
  background-color: #333;
  border-color: #007bff;
}

h3 {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
  color: #007bff;
}

.main-content {
  flex: 5;
  background-color: var(--primary-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.slider-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  flex: 1;
}

.app-header {
  background-color: var(--secondary-bg);
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.frame-button {
  padding: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-style: hidden;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  overflow: hidden;
}

.label-menu-icon-button {
  background-color: var(--secondary-bg);
  border-radius: 50%;
  padding: 10px;
  margin: 20px 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-style: hidden;
}
.icon-button {
  background-color: var(--secondary-bg);
  border-radius: 50%;
  padding: 10px;
  margin: 20px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-style: hidden;
}

.label-menu-icon-button:hover {
  background-color: #555;
}

.icon-button:hover {
  background-color: #555;
}

.carry-boxes-control {
  display: flex;
  align-items: center;
  margin: 10px;
}

.myCheckbox input[type="checkbox"]::before {
  display: none;
}

.header-sidebar {
  flex: none;
}

.left-header-sidebar {
  flex-basis: 80px;
}

.right-header-sidebar {
  flex-basis: 350px;
}

.label-menu {
  flex-basis: 250px;
  background-color: var(--secondary-bg);
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 15px;
  box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.large-select {
  font-size: 1.5rem;
  width: 100%;
  background-color: var(--secondary-bg);
  color: var(--primary-text);
}

.large-select .MuiSelect-select {
  color: var(--primary-text);
}

/* Default border color, e.g. gray */
.large-select.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-bg);
}

/* Border color when selected */
.selected-border.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-text);
}
.selected-border.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-text);
}

.MuiMenu-paper .MuiPaper-root {
  background-color: var(--primary-bg);
}

.MuiMenuItem-root {
  color: var(--primary-text);
}
.label-menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.double-chevron {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.double-chevron > svg:first-child {
  margin-right: -40%;
}

.inner-chevron {
  margin-left: -40%;
}

.interpolation-indicators {
  position: relative;
  height: 10px;
}

.interpolation-indicator {
  position: absolute;
  bottom: 12.5px;
  transform: translateX(-50%);
  width: 2px;
  height: 4px;
  border-radius: 10%;
  background-color: var(--ui-button-active);
  cursor: pointer;
  z-index: 1;
}

.interpolation-indicator::before {
  content: "";
  position: absolute;
  top: -3px;
  right: -3px;
  bottom: -3px;
  left: -3px;
  background: transparent;
  cursor: pointer;
  z-index: -1;
}

.interpolation-indicator-clickable {
  height: "50px";
  width: "20px";
  display: "flex";
  align-items: "center";
  justify-content: "center";
  cursor: "pointer";
}

.interpolation-id {
  position: absolute;
  left: -3px;
  color: var(--primary-text);
}
